
  <article class="post">
  <div class="title">
    <div class=" card text-white bg-dark mb-3" >
  <div class="card-header">
    <span class="postlink"><a  class=" postbutton btn btn-secondary" href="{{post_url}}" target="_blank">{{title}}</a></span>
    </div>
    <div class= "postinfoflex">
    <span class="leadsto"> Leads to: ({{format_url post_url}})</span>

 
    {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
    |
    <a class=" commentbutton btn btn-warning" href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
  
  </div> 

 </div>

</article>